.consultation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 145px;
    border-top: 1px solid #BDCDC5;

    &__items {
        padding: 46px 0 45px 73px;
        background-image: url(../images/main/team/phone_icon.png);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 24px;

        &_title {
            color: #0B3B3C;
            font-size: 20px;
            font-weight: 400;
            line-height: 43px;
            letter-spacing: 0.72px;
        }

        &_text {
            color: #91AB9F;
            font-size: 15px;
            line-height: 29px;            
        }
    }

    & .btn {
        width: 330px;
        margin-right: 75px;
    }
}