.treatments {
    padding: 60px 40px 3px 40px;

    &_title {
        color: #0B3B3C;
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        line-height: 60px; /* 171.429% */
        letter-spacing: 1.2px;
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        gap: 6px;

        &_item {
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 677px;
            background: #E8EFE9;
            padding: 23px 80px 48px 80px;
            transition: all 0.2s;

            &:hover {
                background-color: #BDCDC5;
                transition: all 0.2s;
            }

            &_title {
                color: #0B3B3C;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.72px;
                margin-bottom: 10px;
            }

            &_text {
                color: #0B3B3C;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 29px;  
                margin-bottom: 22px;              
            }

            &_link {
                color: #0B3B3C;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 2.1px;
                text-transform: uppercase;                  
        
            }
        }
    }
}